* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.game-board {
    width: 100%;
    height: 37.5rem;
    border-bottom: 0.938rem solid rgb(35, 160, 35);
background: linear-gradient(#87CEEB, #e0f6ff);

    margin: 0 auto;

    position: relative;

    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 5rem;
    animation: pipe-animation 1.3s infinite linear;
}

.mario {
    width: 9.375rem;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms  ease-out;
}

.clouds {
    position: absolute;
    width: 34.375rem;
    bottom: 11.875rem;

    animation: clouds-animation 30s linear infinite;

}

#posBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.875rem;
}

.btn-restart {
    display: none;

    background: linear-gradient(#87CEEB, #e0f6ff);
    color: white;

    padding: 1.25rem 3.125rem;
    font-size: 2.188rem;
    border-radius: 3.75rem;

    transition: 0.2s ease-in-out;
    box-shadow: 0.063rem 0.063rem 0.313rem 0px rgba(0, 0, 0, 0.3);
}

.btn-restart:hover {
    color: black;
    box-shadow: 0.063rem 0.063rem 0.313rem 0px #87CEEB;

}

@keyframes pipe-animation {
    from {
        right: -5rem;
    }

    to {
        right: 100%
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 11.25rem;
    }

    50% {
        bottom: 11.25rem;
    }

    60% {
        bottom: 11.25rem;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -34.375rem;
    }

    to {
        right: 100%;
    }
}